/*
 * Finfore.net 
 * Base CSS
 *
 */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
	background: #333 !important;
	
	-webkit-font-smoothing: antialiased !important;
}

/* Layout */
#desktop {
	position: fixed !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #333;
	
	z-index: 0 !important;
}

.desktop-inner .main-actions,
.desktop-inner .tab-list,
#desktop-content {
	display: block;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-actions {
	position: absolute;
	width: 100%;
	height: 60px;
	
	background-color: #222;
	box-shadow: inset 0 -1px 5px #111;
	
	z-index: 2;
}

.tab-list {
	position: absolute;
	left: 0;
	top: 60px;
	height: 100%;
	width: 200px;
	padding: 0 0 50px 5px;
	
	z-index: 2;
}

#desktop-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 150px 0 50px 210px;
	background: #333;
}

#desktop .ui-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 36px;
	z-index: 2;
}

/* Main Actions */
.desktop-title {
	width: 140px;
	height: 40px;
}

.desktop-title h1 {
	margin: 9px 5px;
}

.desktop-title,
#signin-actions,
#public-account-selectors {
	display: table-cell;
	table-layout: fixed;
	vertical-align: middle;
}

#signin-actions {
	width: 170px;
	padding-left: 50px;
}

#public-account-selectors {
	width: 360px;
}

#blank-state {
	position: absolute;
	left: 210px;
	top: 70px;
	width: 530px;
	padding: 10px;
	
	background-color: #353f4a;
	border-radius: 3px;
	
	color: #fff;
	text-shadow: none;
}

#blank-state h1 {
	margin: 0;
	
	font-size: 1.2em;
}

#blank-state p {
	margin: 0;

	font-size: 1em;
}

/* ===== TABLET LAYOUT ===== */
.panel-content-wrap {
	background-color: #F0F0F0;
}

.panel-content-wrap .ui-content {
	height: auto !important;
}

/* Collapsible Companies */
.collapsible-company h3 {
	margin: 0;
	font-size: 12px;
}
.collapsible-company h3 a .ui-btn-corner-all {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.collapsible-company h3:not(.ui-collapsible-heading-collapsed) a {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.collapsible-company .ui-listview {
	margin: 0;
}
.collapsible-company .ui-listview li:last-child {
	-webkit-border-bottom-right-radius: .6em;
	-webkit-border-bottom-left-radius: .6em;
	-moz-border-radius-bottomright: .6em;
	-moz-border-radius-bottomleft: .6em;
	border-bottom-right-radius: .6em;
	border-bottom-left-radius: .6em;
}
.collapsible-company .ui-collapsible-content {
	padding: 0;
	margin: 0;
}

.panel-list {
	margin: .5em 0;
}
.tablet-tab-list {
	padding-bottom: 20px;
}
/* Tabs and Columns */
/* Tab Content */
.tab {
	position: relative;
	left: 0;
	z-index: 1001;
	height: 100%;
	display: none;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: #F0F0F0;
	
	border: 1px solid #2a2a2a;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
	box-shadow: 0px 1px 4px rgba(0,0,0,.3);
}

.active-tab {
	display: block;
}

/* iScroll Container */
.tab-scroller {	
	position: relative;	
	height: 100%;
	white-space: nowrap;
}

/* Panels */
.panel {
	position: relative;	
	z-index: 999;		
	
	display: inline-block;
	table-layout: fixed;
	height: 100%;
	width: 300px;
	padding-top: 45px;
	overflow: hidden;
	border-right: 1px solid #333;
	
	white-space: normal;
	vertical-align:top;
		
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

.panel > [data-role="header"] {
	position: absolute;
	top: 0;
	height: 43px;
	width: inherit;
	overflow: hidden;
}

.panel > [data-role="content"], .panel-content-wrap .ui-content {	
	height: 100%;
	padding: 0;	
	overflow-x: hidden;
	overflow-y: auto;
}

.panel .panel-back-button {
	display: none;
}

.panel .ui-controlgroup {
	margin: 0;
}

.panel a {
	color: #375DDB;	
}

.tab .panel:last-of-type {
	border: 0;
}

/* News Ticker */
.scrolling-ticker {
	display: block;
	width: 100%;	
	
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	vertical-align: middle;
}
.scrolling-ticker a {
	display: inline-block;
	max-width: 800px;
	overflow: hidden;
	padding-left: 25px;
	margin-right: 20px;
	opacity: 0.4;
	
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../images/icons/feedUpdateIcon.png);
	
	color: #fff;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
}
.scrolling-ticker a:hover {
	opacity: 1;
}
.scrolling-ticker a.twitter-update {
	background-image: url(../images/icons/twitterUpdateIcon.png);
}
.scrolling-ticker a.prices-update {
	background-image: url(../images/icons/pricesUpdateIcon.png);
}


/* Landscape */
@media all and (min-device-width : 768px) {

/*
	.main-actions {
		left: 0;
		width: 150px;
		height: 100%;
		padding-bottom: 50px;
	}
*/

}


/* Custom Webkit Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
	color: #000;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
	color: #000;	
}
::-webkit-scrollbar-track-piece {
    background-color: #eee;	
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #888;	
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #000;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
	margin: 2px;
    background-color: #888;
    -webkit-border-radius: 5px;
}

/* == FIXES == */

/* iPad Fix */
@media only screen and (-webkit-min-device-pixel-ratio:0) {
    .tab {
		-webkit-box-sizing: border-box;
		padding-bottom: 8px;
	}
}